/* Google fonts here  */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


/* .inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */


/* .raleway-<uniquifier> {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/* common css styles start */

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body{
    max-width: 1440px;
    margin: 0 auto;
}

main{
    max-width: 1140px;
    margin: 0 auto;
}

.primary_btn{
    background-color: #4E47FF;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
}
.primary_btn a{
    text-decoration: none;
    font-size: 16;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    color: #FFFFFF;
}
.primary_btn:hover{
    background-color: #605cd8;
    transition: 1s;
}

.states_number{
    font-size: 80px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    color: #4E47FF;
}
.states_desc{
    font-size: 20px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    color: #0000007c;
}

/* Nav section styles start  */

header{
    background-image: url(../Assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar{
    max-width: 1140px;
    margin: 0 auto;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 34px;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    color: #4E47FF;
}

/* nav styles end  */
/* ------------------------------ */

/* banner styles start  */
.banner{
    max-width: 905px;
    margin: 0 auto;
    text-align: center;
    padding: 100px 0;

}
.banner_desc{
    font-size: 65px;
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    margin-bottom: 50px;
}

/* banner styles end  */

/* Launch section start  */

.launch_section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
}

.launch_details{
    max-width: 517px;
}

.launch_title{
    font-size: 42px;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
}
.launch_desc{
    font-size: 24px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    margin: 20px 0;
    color: rgba(25, 24, 32, .5);
    
    
}
.launch_img{
    border-radius: 50px;
}

/* Launch section end  */

/* success section start  */

.success_state_section{
    background-color: #E5E7FF;
    padding: 70px 50px;
    border-radius: 20px;
}
 
.state_title{
    font-size: 38px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    text-align: center;
    margin-bottom: 50px;
}
.states{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* success section end  */


/* users opinion styles start */

.user_opinion_section{
    padding: 100px 0;
}

.opinions_title{
    font-size: 42px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    color: #252432;
    text-align: center;
    margin: 100px 0;
}

.opinion_cards{
    display: flex;
    justify-content: space-between;
    font-family: "Raleway", sans-serif;
}

.opinion_card{
    max-width: 318px;
}
.stars{
    margin-bottom: 20px;
}
.card_title{
    font-size: 24px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
}
.card_desc{
    font-size: 14px;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
    margin: 15px 0;
    padding-right: 70px;

}
.user_info{
    display: flex;
    gap: 10px;
    justify-content: left;
    align-items: center;
}
.user_info img{
    border-radius: 100%;
}
.user_name_date > .date{
    color: #21202c8a;
}

/* users opinion styles end */

/* ready section start  */
.ready_section{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin: 100px 0;
}
.ready_title{
    font-size: 50px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    color: #000000;

}
.ready_desc{
    color: #0000007a;
    font-family: "Raleway", sans-serif;
    
}

.ready_section > img{
    border-radius: 50px;
}



/* ready section end */


